.modal {
  display: none;
}
.customize-theme {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: var(--small-font-size);
}
.opened {
  display: block;
}
.customize-theme .card {
  background-color: var(--color-white);
  padding: 3rem;
  border-radius: var(--border-radius);
  width: 40%;
  max-width: 600px;
}

.customize-theme .font-size {
  margin-top: var(--m-2-5);
}

.customize-theme .font-size > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-light);
  padding: 0.6rem 1rem;
  border-radius: var(--border-radius);
}

.customize-theme .choose-size {
  background: hsl(252, 100%, 90%);
  height: 0.35rem;
  width: 100%;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customize-theme .choose-size span {
  width: 1rem;
  height: 1rem;
  background: hsl(252, 100%, 90%);
  border-radius: 50%;
  cursor: pointer;
}

.customize-theme .choose-size span.active {
  background: var(--color-primary);
}

.customize-theme .color {
  margin-top: var(--m-2);
}

.customize-theme .choose-color {
  background: var(--color-light);
  border-radius: var(--border-radius);
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customize-theme .choose-color span {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background: var(--color-primary);
}

.customize-theme .choose-color span:nth-child(1) {
  background-color: hsl(252, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(2) {
  background-color: hsl(52, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(3) {
  background-color: hsl(352, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(4) {
  background-color: hsl(152, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(5) {
  background-color: hsl(202, 75%, 60%);
}

.customize-theme .choose-color span.active {
  border: 5px solid #fff;
}

.customize-theme .background {
  margin-top: var(--m-2);
}

.customize-theme .choose-bg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6rem;
}
.customize-theme .choose-bg > div {
  padding: 0.8rem 0.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0.4rem;
  cursor: pointer;
}

.customize-theme .choose-bg > div.active {
  border: 2px solid var(--color-primary);
}

.customize-theme .choose-bg .bg-1 {
  color: var(--color-dark);
  background: var(--color-light);
}

.customize-theme .choose-bg .bg-2 {
  background: hsl(252, 30%, 17%);
  color: #fff;
}

.customize-theme .choose-bg .bg-3 {
  background: hsl(252, 30%, 10%);
  color: #fff;
}

.customize-theme .choose-bg > div span {
  width: 1.4rem;
  height: 1.4rem;
  border: 2px solid var(--color-gray);
  border-radius: 50%;
}
