<section class="about-section section" id="about">
    <div class="container">
        <h2 class="section-title">About</h2>
        <div class="row">
            <div class="about-img">
                <!-- avatar img -->
                <img src="/src/images/avatar-2.svg" alt="">
            </div>
            <div class="about-content">
                <div class="rounded">
                    <div class="row">
                        <div class="about-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus adipisci, itaque temporibus, in nisi commodi accusantium laboriosam neque consequuntur eum maxime! Harum eligendi recusandae explicabo consequatur similique beatae consequuntur aperiam!</p>
                        <div>
                            <a href="#" class="btn btn-default">Download CV</a>
                        </div>
                        </div>
                        <div class="skills">Skills</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>