<section class="contact section">
  <div class="container">
    <!-- section title -->
    <h2 class="section-title padd-15">Contact me</h2>
    <div class="row">
      <!-- contact box -->
      <div class="contact-box padd-15">
        <div class="contact-data">
          <!-- contact information -->
          <div class="contact-information">
            <h3 class="contact-subtitle">Call me for instant support</h3>
            <span class="contact-description">
              <i class="lni lni-phone contact-icon"></i>
              +38 096 0850525
            </span>
          </div>
          <!-- contact information -->
          <div class="contact-information">
            <h3 class="contact-subtitle">Write me for instant support</h3>
            <span class="contact-description">
              <i class="lni lni-user contact-icon"></i>
              overlord311089@gmail.com
            </span>
          </div>
        </div>
      </div>
      <!-- contact form -->
      <form class="contact-form padd-15">
        <div class="contact-inputs">
          <!-- contact content -->
          <div class="contact-content">
            <input type="email" class="contact-input" />
            <label for="" class="contact-label">Email</label>
            <span></span>
          </div>
          <!-- contact content -->
          <div class="contact-content">
            <input type="text" class="contact-input" />
            <label for="" class="contact-label">Subject</label>
            <span></span>
          </div>

          <!-- contact content -->
          <div class="contact-content contact-area">
            <textarea
              name=""
              id=""
              cols="30"
              rows="10"
              class="contact-input"
            ></textarea>
            <label for="" class="contact-label">Message</label>
            <span></span>
          </div>
        </div>
        <a href="#" class="btn btn-default">Send message</a>
      </form>
    </div>
  </div>
</section>
